body {
    font-family: 'Arial', sans-serif; /* Use a web-safe font */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add responsive styles for various screen sizes */
@media only screen and (max-width: 600px) {
    /* Add specific styles for smaller screens */
  .header{
    height: 9rem;
    background-color: #FFFC00;
  }
  .header img{
    width: 6rem;
    padding: 24px;
    margin-left: 17rem;
}

   
  }

