body {
	font-family: "Arial", sans-serif; /* Use a web-safe font */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Styles for Desktop View Only */
@media only screen and (min-width: 601px) {
  .container {
		display: none;
  }
	body{
		max-width: 800px;
		margin: 50px auto;
		padding: 20px;
		background-color: #f0f0f0;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
  .deskp {
    font-size: 40px;
  }

  input, button {
    width: auto;
  }
}
/* Add responsive styles for various screen sizes */
@media only screen and (max-width: 600px) {
	/* Add specific styles for smaller screens */
	.header {
		height: 9rem;
		background-color: #fffc00;
	}
	.header img {
		width: 6rem;
		padding: 24px;
		margin-left: 17rem;
	}
	.welcomeMessage {
		text-align: center;
		margin-top: 2.6rem;
	}
	.welcome {
		font-size: 1.8rem;
		font-weight: bold;
	}
	.login {
		background-color: black;
		color: white;
		text-align: center;
		border-radius: 16px;
		width: 19rem;
		padding: 5px;
		margin-left: 3.6rem;
		margin-top: 30px;
	}
	.login p {
		font-size: 23px;
		color: #fffc00;
		font-weight: bold;
	}
	.trouble {
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		margin-top: 2rem;
	}
	.or {
		font-size: 26px;
		text-align: center;
		font-weight: bold;
		margin-top: 3rem;
		color: rgb(167, 167, 165);
	}
	form .txt_field {
		position: relative;
		border-bottom: 2px solid #adadad;
		margin: 40px 0;
		width: 70%;
		margin-left: 3rem;
	}
	.txt_field input {
		width: 30%;
		padding: 0 5px;
		height: 40px;
		font-size: 16px;
		border: none;
		background: none;
		outline: none;
	}
	.txt_field label {
		position: absolute;
		top: 50%;
		left: 5px;
		color: #adadad;
		transform: translateY(-50%);
		font-size: 16px;
		pointer-events: none;
		transition: 0.5s;
	}
	.txt_field span::before {
		content: "";
		position: absolute;
		top: 40px;
		left: 0;
		width: 0%;
		height: 2px;
		background-color: #adadad;
		transition: 0.5s;
	}
	.txt_field input:focus ~ label,
	.txt_field input:valid ~ label {
		top: -5px;
		color: #adadad;
	}
	.txt_field input:focus ~ span::before,
	.txt_field input:valid ~ span::before {
		width: 100%;
		color: #2691d9;
	}
	.pass {
		margin-left: 50%;
		color: #2691d9;
		font-weight: bold;
	}
	#loginP {
		font-weight: bold;
		font-size: 21px;
		background-color: #adadad;
		color: white;
		text-align: center;
		width: 13rem;
		padding: 25px;
		border-radius: 50px;
		margin-left: 5rem;
		margin-top: 2.4rem;
	}
	.signup {
		text-align: center;
		margin-top: 3rem;
	}
	#loginP.yellow {
		background-color: yellow;
		color: black;
		font-weight: bold;
	}
	.deskp{
		display: none;
	}
}
