body{
  font-family: 'DM Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  background-image: url("./Images/macOS-Sonoma-4K-Wallpaper.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
.menuBar{
  display: flex;
  justify-content: space-between;
  border-top: 0;
  font-weight: bold;
  background-color: #c4c4c4;
  border-bottom: 1000rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.menuBar ul{
  gap: 0.7rem;
  font-size: 12px;
  color: rgb(255, 255, 255);
  
}
.menuBar ul li {
  list-style-type: none;
gap: 1rem;
}
.menuBar ul li a{
  text-decoration: none;
  color: white;
  
  
  
}
.rightMenu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 26px;
 
}
.menuBar ul li a i{
  color: white;
  font-size: 16px;
}
.leftMenu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container{
  height: 520px;
  width: 60rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-left: 13rem;
  margin-top: 2rem;
  border-radius: 24px;

}

.rightSection{
  height: 520px;
  background-color: #c4c4c4;
}
.leftSection{
  width: 1200px;
  height: 480px;
  margin: 0;
  padding: 0;
  
}
.leftHeader{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.leftHeader ul li{
  color: red;
  list-style-type: none;
}

.signal ul{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  gap: 0.4rem;
  padding: 0 10px;
  
}
.signal ul li i{
  font-size: 9px;
}
.green i{
  color: rgb(16, 150, 16);
}
.red i{
  color: rgb(207, 55, 55);
}
.yellow i{
  color: rgb(209, 209, 23);
}

.leftIconRight ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:0.9rem;
  font-size: 19px;
  margin-right: 1rem;
 
}
.leftIconRight ul li i{
  color: grey;
}


.ChatIcons{
  display: flex;
  justify-content: space-between;
  /* align-items:flex-start; */
}
.leftIcons{
  color:#797676;
  font-weight: bold;
  font-size: 15px;
}

.leftIcons ul{
  list-style-type: none;
  padding: 0 10px;
}
.search{
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  margin-right: 0.6rem;
  background-color: #e9e9e9;
  padding: 6px 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}